@animation-duration-walking: 1.5s;

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  perspective: 500px;
  overflow: hidden;

  >div {
    background-color: black;
    // color: white;
    position: absolute;
  }
}

.head {
  clip-path: circle(50% at 50% 50%);
  left: 150px;
  top: 20px;
  width: 50px;
  height: 50px;
}

.bodyCenter {
  left: 163px;
  top: 68px;
  width: 24.5px;
  height: 64px;
}

.rightHand {
  left: 117.5px;
  top: 82px;
  clip-path: polygon(20% 80%, 30% 90%, 100% 20%, 100% 0%);
  width: 50px;
  height: 50px;
  animation: leftLegAnim @animation-duration-walking linear infinite;
}

.rightLeg {
  left: 117.5px;
  top: 122px;
  clip-path: polygon(20% 80%, 30% 90%, 100% 20%, 100% 0%);
  width: 50px;
  height: 50px;
  rotate: 30deg;
  animation: leftLegAnim @animation-duration-walking linear infinite;
}

.leftLeg {
  left: 180px;
  top: 122px;
  clip-path: polygon(0% 0%, 0% 20%, 70% 90%, 80% 80%);
  width: 50px;
  height: 50px;
  animation: rightLegAnim @animation-duration-walking linear infinite;
}

.leftHand {
  left: 180px;
  top: 82px;
  clip-path: polygon(0% 0%, 0% 20%, 70% 90%, 80% 80%);
  width: 50px;
  height: 50px;
  animation: rightLegAnim @animation-duration-walking linear infinite;
}

.crossingBlocks {
  top: 105px;
  z-index: -1;
  background-color: grey;
  width: 20px;
  height: 100px;
  position: absolute;
  transform: rotate3d(1, -5, 1, 50deg);
  left: 320px;
}

ul {
  list-style-type: none;

  .loop(@i) when (@i <=5) {
    > :nth-child(@{i}) {
      @left: 180px+60*@i;
      .build-block-animation(@i)
    }

    .loop(@i + 1);
  }

  .loop(1);
}

@keyframes rightLegAnim {

  0% {
    transform: rotate(0deg);
  }

  40% {
    transform-origin: -10% 0%;
    transform: translate(-5px) rotate(80deg);
    // transform: rotate(-150deg);
  }

  99% {
    transform: rotate(0deg);
  }


  //   90% {
  //     transform-origin: 0% 0%;
  //     transform: translate(10px) rotate(-120deg);
  //     // transform: rotate(-150deg);
  //   }
}

@keyframes leftLegAnim {

  // 0% {
  //   transform: translate(50%, 0) rotate(0deg);
  // }
  // 20% {
  //   transform: translate(50%, 0) rotate(45deg);
  // }
  // 50% {
  //   transform: translate(150%, -35%) rotate(45deg);
  // }
  // 60% {
  //   transform: translate(250%, 5%) rotate(-45deg);
  // }
  // 90% {
  //   transform: translate(250%, 0) rotate(0deg);
  // }

  0% {
    transform-origin: 110% 0%;
    transform: rotate(0deg);
  }

  40% {
    transform-origin: 110% 0%;
    transform: translate(6px) rotate(-80deg);
    // transform: rotate(-150deg);
  }

  45% {
    transform-origin: 110% 0%;
    transform: translate(6px) rotate(-80deg);
    // transform: rotate(-150deg);
  }

  99% {
    transform-origin: 110% 0%;
    transform: translate(0px) rotate(0deg);
  }
}

.build-block-animation(@i) {
  animation: crossingBlocksAnimation 2s linear infinite;
  animation-delay: @i*-400ms;

  @keyframes crossingBlocksAnimation {
    0% {
      opacity: 0;
    }

    1% {
      opacity: 1;
    }

    99% {
      transform: translate(-400px) rotate3d(1, -5, 1, 50deg);
      opacity: 1;
    }

    100% {
      opacity: 0;
      transform: translate(-400px) rotate3d(1, -5, 1, 50deg);
    }

  }
}
