<div class="wrapper">
  <div class="head"></div>
  <div class="bodyCenter"></div>
  <div class="leftHand"></div>
  <div class="rightHand"></div>
  <div class="leftLeg"></div>
  <div class="rightLeg"></div>
</div>
<ul>
  <div class="crossingBlocks"></div>
  <div class="crossingBlocks"></div>
  <div class="crossingBlocks"></div>
  <div class="crossingBlocks"></div>
  <div class="crossingBlocks"></div>
</ul>
